*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.homepage-logo{
    width: 15%;
    display: inline-block;
}

.homepage-nameslogan{
    display: inline-block;
    position: relative;
    padding-left: 10px; 
}

.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.25);
}

.fbo-navbar{
    background-color: #212121;
}

.navbar_brandName{
    margin-left: 8px;
    font-weight: bold;
}

.navbar_slogan{
    font-size: 0.7rem;
}

.btn{
    position: relative;
}

.btn:not(.nav-btns button){
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.btn:not(.nav-btns button):hover{
    background-color: #DCA926;
    color: black;
    border: 1px solid black;
    filter: drop-shadow(0px 0px 6px rgba(220,168,38,0.9));
}

.nav-link{
    font-size: 14px;
}
.item_amount{
    position: absolute;
    background-color: #DCA926;
    color: black;
    margin-left: 0.2rem;
}

.navbar-brand img{
    width: 50px;
}

.navbar-brand span{
    letter-spacing: 1.5px;
}

.nav-link:hover{
    color: #DCA926 !important;
    filter: drop-shadow(0px 0px 6px rgba(220,168,38,0.9));
}

.nav-item{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
    color: black;
}

button:focus
{
   outline:  none !important;
}
/* Header */
#header{
    background: url(../images/banner2.jpg) top/cover no-repeat;
}
/* End of Header */
.page-container{
    padding-top: 104px;
}
/* MEDIA QUERIES */
@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
        
    }
}
