*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.homepage-logo{
    width: 15%;
}

.fbo-navbar{
    background-color: #212121;
}

.navbar_brandName{
    margin-left: 2;
    font-weight: bold;

}

.navbar_slogan{
    font-size: 0.7rem;
}

.btn{
    position: relative;
}
.top_icon{
}

.item_amount{
    position: absolute;
    background-color: #DCA926;
    color: black;
    margin-left: 0.2rem;
}