*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* LOGIN PAGE */

.login-reg-body{
    background-color: #212121;
}

#login-left-div{
    background-color: #161616;
    text-align: center;
}

#login-right-div{
    background-color: #333333;
}
.row{
    background-color: #212121;
    border-radius: 30px;

}

.Welcome-Text-Login{
    color: white;
    margin-top: 2.0rem;
}
 .btn-login{
    background-color: #DCA926;
    color: black;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    text-align: center;
    position: relative;
    left: 150%;
 }

 .form-row{
     padding: 0.5rem;
 }

 .login-img{
     height: 50%;
     width: auto;
     position: relative;
     top: 18%;
 }

 .login-slogan{
     position: relative;
     top:20%;
 }

 .Form{
     margin-top: 10%;
     align-items: center;
 }

 .form-control{
     width: 30rem;
 }

 .btn1{
     border-radius: 20px;
     width: 6rem;
     height: 3rem;
     background-color: black;
     color: white;
     border: 1px solid white;
 }

 .login-button{
     text-align: center;
 }

 #login-section{
     height: 100v;
 }
 .login-div{
    margin-top: 10rem;
 }
 .container
 {
     position: relative;
     margin-left: auto;
     margin-right: auto;
 }